<div id="footer">
    <div class="container">
        <div class="row">
            <div class="12u">

                <section class="contact">
                    <header>
                        <h3>Check me out elsewhere</h3>
                    </header>
                    <ul class="icons">
                        <li>
                            <a href="https://www.linkedin.com/in/kevingrubiak" class="icon fa-linkedin">
                                <span class="label">Linkedin</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/kjgrubiak/?hl=en" class="icon fa-instagram">
                                <span class="label">Instagram</span>
                            </a>
                        </li>
                    </ul>
                    <br>
                    <header>
                        <h5>
                            <a href = "mailto: kjgrubiak@gmail.com"> kjgrubiak@gmail.com</a>
                        </h5>
                    </header>
                </section>

                <div class="copyright">
                    <ul class="menu">
                        <li>Copyright &copy; KJ Grubiak</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
